* {
    margin : 0px;
    padding : 0px;    /*간격 다뺌 */
}

header {
    top : 0px;
    left: 0px;    
    height : 60px;
    width : 100%;
    position: sticky; /*맨위에 붙이기*/
}

nav {
    height : 60px; 
    background-color: rgb(146, 203, 230);  
    display: flex;
    justify-content: center;
    align-items:center; /*nav 박스를 flex로 바꾸고 중간으로 정렬. 연습장*/
    
}

nav a { 
text-decoration : none; /*하이퍼링크 밑줄 빼기*/
color:rgb(5, 45, 68);
}

nav a:hover, nav li:hover { /*마우스 올리면 자동으로 손모양으로 바뀌는등 숨겨진게 있다*/
    background-color: aliceblue; /*하버는 마우스 올렸을때~ 동작*/
    color:blue;
}
nav a:active{ /*누르면 빨간색으로 글씨 바뀌게*/
    color:red;
}

#a2 h1 {
    display: inline-flex    
}
nav li { /*inline-block -블럭형을 인라인 형식으로 바뀐다. 줄은 안바뀌지만 박스다*/
    display: inline-flex; /*같대~ 이거쓴대~*/ 
    width: 110px; /*블럭이지만 인라인이야! 라고 바꾼것. 그냥 인라인은 width height를 할순없다.*/
    height : 60px;
    background-color: rgb(236, 230, 240);
    justify-content:center ;
    align-items:center ;
}

article {    
    background-color:rgb(195, 209, 209);
    margin-top : 50px; 
    margin-left : 20px;
    margin-bottom : 10px;
    padding : 20px
}

#a1 {
    height: 50vh; /*화면에 보이는 사이즈의 반, 100 하면 화면을 다 잡겠다*/
    display: flex;
    flex-direction: column;
    justify-content: center; /*오른쪽 정렬*/
    align-items:left; /* flex-direction: column을 하면 축 다시 생각! 이걸해야 왼쪽으로 간다*/
}

#a1 > div {    
    border: 5px outset;
    border-color :aliceblue;    
    border-radius: 5px;
    width: 250px;
    height : 200px;
}

#a1 img {
    width : 100%;
}
ul {
    margin : 20px;
}
#a2, #a4 {
    background-color: black;
    color:green;
}

.c3 {
    background-color: black;
}

.c3>h1, .c2>h1 {
    color: azure
}

/* .c3 > ul > li {
    color:green. c3 아래 li만 색깔 바꾸고싶다! 할때 이렇게 하면 되는데 중간 과정 다 적으면 복잡하니 공백 하면 똑같다. 아래랑 같다.
} */

.c3 li {
    color: green
} 